/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0; 
}

/* Utilities */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
}

.lead {
  font-size: 20px;
  padding: 50px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  background: #161c3d;
  padding: 13px 50px;
  margin-left: 15px;
  border: 1px solid #6f7794;
  border-radius: 5px;
  cursor: pointer;
}

.btn1 {
  width: 30%;
}

.btn:hover {
  background: #6f7794;
  color: #ffffff;
}

.btn-primary {
  background: #161c3d;
  color: #ffffff;
}

.bg-dark {
  background: #333333;
  color: #ffffff;
}

.bg-light {
  background: #f4f4f4;
  color: #333333;
}

.bg-coral {
  background: #691120;
  color: #fff;
}

.bg-green {
  background: #1eaa0c; 
  color: #fff;
}

.bg-red {
  background: #db0606;
  color: #fff;
}

.clr {
  clear: both;
}

.text-primary {
  color: #691120;
}

/* Navbar */

#navbar {
  background: #161c3d;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px 10px;
  text-align: center;
}

#navbar ul li input {
  padding: 10px 15px;
  margin: 18px 5px;
  background: #691120;
  color: #fff;
  border: #691120 1px solid;
  border-radius: 5px;
  font-size: 15px;
}

#navbar ul li input:hover {
  background: #fff;
  color: #691120;
}

#navbar ul li a:hover {
  background: #6f7794;
  color: #ffffff;
}

/* Show Case */

#showcase {
  background: url('../img/bank.jpg') no-repeat center center/cover;
  height: 685px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.2em;
}

/* Home Info */

#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/coin2.jpg') no-repeat center center/cover;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

/* Footer */

#main-footer {
  text-align: center;
  position: fixed;
  background: #161c3d;
  color: #fff;
  padding: 20px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #00000080;
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 #00000033, 0 7px 20px 0 #0000002b;
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header h2, .modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #161c3d;
  padding: 5px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: #161c3d;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-lg {
  width: 80%
}

.modal-sm {
  width: 40%
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Form */

.form-group {
  margin-top: 15px;
}

.form-group label {
  display: block;
  color: #000;
}

.form-group input, select {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

form button {
  display: block;
  width: 95%;
  padding: 10px;
  margin: 10px;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  overflow: auto;
}

/* Zebra striping */

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #691120;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
  table h3 {
    padding-left: 100px;
  }
}